html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.center-cropped {
  width: 50%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
}

.biobox {
	position: absolute;
	left: 50%;
	height: 100%;
	width: 50%;
    text-align: center;
}

.biotitle {
	color: black;
	line-height: 5.8vmin;
	padding: 7%;
	position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-size: 5.7vmin;
}

.biotext {
	line-height: 4.4vmin;
	font-size: 2.9vmin;
}

.fa fa-spotify fa-2x {
  color: #1ED760 !important;
}

a:link {
	color: black;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:hover {
  color: blue;
}
