html,body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.menu {
	width: inherit;
	position: initial;
	background-color: #4d4d4d;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 12px 0px 12px 0px;
}

.menu-title {
	font-size: 5vmin;
}

.menu-links {
	font-size: 3vmin;
	padding: 12px 0px 12px 0px;
}

.contact_title {
	line-height: 5.5vmin;
	position: relative;
	font-size: 5vmin;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding-top: 50px;
}

.contact_info {
	text-align: center;
	line-height: 4vmin;
	font-size: 2.5vmin;
	font-family: 'Lato', sans-serif;
}