html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/*                             *
 * DEFAULT: full-size devices; *
 *                             */

/* BEGIN navigation menu */
.navbar {
  background-color: #4d4d4d;
  color: white;
  font-family: 'Lato', sans-serif;
  height: 5vw;
  padding-bottom: 0.75vw;
  padding-top: 0.75vw;
  position: initial;
  width: inherit;
}

.navbar-header {
  font-size: 2.3vw;
}

.navbar-links {
  font-size: 1.5vw;
  padding-bottom: 0.75vw;
  padding-top: 0.75vw;
  text-align: center;
}

#blogs-submenu {
  padding-top: 0.75vw;
  padding-bottom: 0.75vw;
  width: 6.43vw;
  position: absolute;
  background-color: #4d4d4d;
  text-align: center;
  vertical-align: middle;
  border-radius: 4%;
  z-index: 1;
}
/* END navigation menu */  

/* BEGIN body content */
.music-title {
  font-family: 'Lato', sans-serif;
  font-size: 2.5vw;
  line-height: 2.72vw;
  padding-top: 3.15vw;
  position: relative;
  text-align: center;
}

.music-body {
  font-family: 'Lato', sans-serif;
  font-size: 1vw;
  line-height: 1.58vw;
  text-align: justify;
}

.post-title {
  font-size: 1.5vw;
  line-height: 2.2vw;
}

.title-separator {
  border-style: solid;
  height: 30px;
  margin-bottom: 1.0em;
  margin-left: 30.0em;
  margin-right: 30.0em;
  margin-top: 1.0em;
}

.date {
  font-style: italic;
}

.trin {
  display: block; 
  margin: auto;
  max-width: 20%;
}

.playlist-title {
  font-size: 2.5vmin;
  font-weight: bold;
  line-height: 4.0vmin;
  text-align: center;

}
.playlist-spotify {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
/* END body content */

/* BEGIN links */
.menu-link:link {
  color: white;
}

.menu-link:visited {
  color: white;
}

.menu-link:hover {
  color: #6fd08c;
}

.body-link:link {
  color: #7b9ea8;
}

.body-link:visited {
  color: #c4f1be;
}

.body-link:hover {
  color: #6fd08c;
}
/* END links */

/*                *
 * mobile devices *
 *                */
@media screen and (max-width: 991px) {
  .menu {
    height: 15vw;
  }
  .menu-title {
    font-size: 5.0vw;
    line-height: 15vw;
    margin-bottom: -0.75vw;
    margin-top: -0.75vw;
  }
  .music-title {
    font-family: 'Lato', sans-serif;
    font-size: 7.5vw;
    line-height: 8.16vw;
    padding-top: 8vw;
    position: relative;
    text-align: center;
  }
  .music-body {
    font-size: 3.0vw;
    line-height: 4.84vw;
  }
  .post-title {
    font-size: 4.5vw;
    line-height: 6.6vw;
  }
  .menu-links {
    font-size: 2.5vw;
    line-height: 15vw;
    margin-bottom: -1.5vw;
    margin-top: -1.5vw;
  }
}